<section class="heading">
  <mat-card style="width: 50%;align-items: flex-start;justify-content: center;">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 1rem;font-weight: 500;">Learn, Cook & Eat your food</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Learn the cooking in easy steps. Surprise your loved onces with your new skills.</p>
      <button mat-flat-button style="    width: 12rem;height: 4rem;margin-top: 1rem;">Today's special</button>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: 50%; height: 500px;">
    <mat-card-content style="height: 100%;">
      <iframe style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/F3MyZ3SJovY?si=qMM2RkJmyLakwU5N"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
  </mat-card>
</section>

